* {
    font-family: 'Raleway', sans-serif;
}

        h1, h2, h3, h4, h5, ul {
            margin: 0;
            font-size: 11px;
        }

        h1 {
            font-size: 25px;
            font-style: italic; 
            display: block; 
        } 

        h2 {
            font-size: 20px;
        } 

        p {
            font-size: 15px;
        }
        

        .resaltado-morado {
            background-color: blueviolet;
            font-weight: bold;
            color: white;
        } 

        article {
            background-color: pink;
            margin-bottom: 15px;
            padding: 15px;
            transition: all 0.3s;
            cursor: pointer;
        }


        article:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .contenedor { 
            display: flex;
            flex-direction: row;
            width: 900px;
            margin: 0 auto;
        }

            header {
            margin-bottom: 15px;
            padding: 15px;
            width: 30%;
            margin-right: 10px;
            border-right: 2px solid pink;
            }

        .img-avatar {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 15px;
            border-radius: 100%;
        }    

        .imagen-titulo {
            display: flex;
        }

        .titulos {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }      



.contenido { 
    width: 70%;
}

.active { 
    background-color: whitesmoke;
    color: black;
}  

article ul { 
    display: none;
} 

.active ul { 
    display: block;
}

img.big {
transform: scale(1.5);
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info-personal p{
    text-align: left;
}  

.info-personal p strong {
    font-size: 16px;
    color: pink;
}    

.info-personal .ico{
    background-color: black;
    color: white;
    padding: 4px;
    height: 20px;
    width: 20px;
} 

  
